<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Calculator</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  </head>
  <body class="container center blue-grey lighten-5">
    <div class="row container">
      <div class="col s12">
        <div class="card blue-grey lighten-3">
          <div class="card-content">
            <span class="card-title"><b>Calculator</b></span>
            <div class="collection">
              <p class="collection-item blue-grey lighten-5" id="display">0</p>
            </div>
          </div>
          <div class="card-action">
            <div class="row">
              <a
                href="#"
                id="1"
                class="btn btn-large blue-grey lighten-2 hoverable black-text"
                >1</a
              >
              <a
                href="#"
                id="2"
                class="btn btn-large blue-grey lighten-2 hoverable black-text"
                >2</a
              >
              <a
                href="#"
                id="3"
                class="btn btn-large blue-grey lighten-2 hoverable black-text"
                >3</a
              >
              <a
                href="#"
                id="+"
                class="btn btn-large blue-grey lighten-4 hoverable black-text"
                >+</a
              >
            </div>
            <div class="row">
              <a
                href="#"
                id="4"
                class="btn btn-large blue-grey lighten-2 hoverable black-text"
                >4</a
              >
              <a
                href="#"
                id="5"
                class="btn btn-large blue-grey lighten-2 hoverable black-text"
                >5</a
              >
              <a
                href="#"
                id="6"
                class="btn btn-large blue-grey lighten-2 hoverable black-text"
                >6</a
              >
              <a
                href="#"
                id="-"
                class="btn btn-large blue-grey lighten-4 hoverable black-text"
                >-</a
              >
            </div>
            <div class="row">
              <a
                href="#"
                id="7"
                class="btn btn-large blue-grey lighten-2 hoverable black-text"
                >7</a
              >
              <a
                href="#"
                id="8"
                class="btn btn-large blue-grey lighten-2 hoverable black-text"
                >8</a
              >
              <a
                href="#"
                id="9"
                class="btn btn-large blue-grey lighten-2 hoverable black-text"
                >9</a
              >
              <a
                href="#"
                id="*"
                class="btn btn-large blue-grey lighten-4 hoverable black-text"
                >*</a
              >
            </div>
            <div class="row">
              <a
                href="#"
                id="0"
                class="btn btn-large blue-grey lighten-2 hoverable black-text"
                >0</a
              >
              <a
                href="#"
                id="/"
                class="btn btn-large blue-grey lighten-4 hoverable black-text"
                >/</a
              >
              <a
                href="#"
                id="="
                class="btn btn-large blue-grey lighten-4 hoverable black-text"
                >=</a
              >
              <a
                href="#"
                id="clear"
                class="btn btn-large hoverable yellow black-text"
                >C</a
              >
            </div>
            <div class="row">
              <div class="col s12">
                <a
                  href="#"
                  id="clearAll"
                  class="btn hoverable btn-large red black-text"
                  >A.C</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
